
.add-comment-wrapper form  {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.add-comment-wrapper   {
    border-top: 1px solid #eee;
    margin: 10px 0;
    padding: 15px 0;

}
 


.add-comment-wrapper form textarea {
    width: 100%;
    /* border: 1px solid #00bcd4; */
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
}

.comment-image-wrapper {
    background: #00bcd4;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .comment-image-wrapper .comment-user-image {

} */

.comment-image-wrapper .comment-user-image span {
    font-size: 15px;
    color: #fff;
    text-align: center;
    

}

.single-comment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
 
}

.comment-header span {
    margin: 0 10px;
    font-size: 13px;
    color: #00bcd4;
}

.comment-header p {
    font-size: 11px;
    color:#757575;
}

.comment-body {
    display: flex;
    align-items: center;
    padding: 10px;
}
.comment-body p {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.4);
  
}
